@white: #f7f7f7;
@blue: #095B90;
@dblue: #07466D;
@ltblue: #6DBDDE;
@fadedblue: #11A4FF;
@bg: #2f2f2f;
@header: #1491ba;

body {
  background-image: url("./bgJudge.jpg");
  background-color: #3f3f3f;
  background-repeat:no-repeat;
  background-size:cover;
  font-family:Tahoma;
}

h1{
  color: @header;
}
#lottery {
  margin:auto;
}

#open {
    text-align: center;
}

#verification {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 1024px;
  font-style: oblique;
  margin: auto;
  padding: 10px;
  text-align:center;
}

#formField, #formFieldTwo, #formFieldThree, #formFieldFour, #formFieldFive, #thanks {
  input {
      width: 75%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
  }

  input:focus {
      border: 3px solid #555;
  }
  margin: auto;
    width: 50%;
    padding: 10px;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-style: oblique;
}




input[type=button] {
    background-color: #1491BA;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
