@zielony: #73AD21;
@orange: #E6811C;

body {
    background-image: url("./bgHorse.jpg");
    background-color: #3f3f3f;
    background-repeat:no-repeat;
    background-size:cover;
    font-family:Tahoma;
}

table {
    position:absolute;
    border-collapse: collapse;
		padding : 30px;
    width: 768px;
    height: 30px;
    border: 1px solid #000;
		left:50%;
		top:50%;
		margin:-200px 0 0 -383px;
    background-color: #90C3D4;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #1491BA;
    color: white;
}

#nickWrap, #contentWrap {
  float: right;
    width: 300px;
    border: 3px solid @zielony;
    padding: 10px;
}

#users {
  float: left;
    width: 300px;
    border: 3px solid @orange;
    padding: 10px;
    display:none;
}
